#banner-container
  = image_tag('car.jpg')
.container
  .banner-contents-container
    %h1 SUPER CARS DEALERS
    %p
      Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.
    .banner-button
      Learn more 
%br
%br
%br
%br
.container
  .section-header-container
    %h2 FEATURED SERVICES
%br
%br
.callboxes-list
  %ul
    %li
      .callboxes
        = image_tag('tint1.jpg', style: 'width: 100%;')
        .services-name-box
          %p Detailing
    %li
      .callboxes
        = image_tag('tint1.jpg', style: 'width: 100%;')
        .services-name-box
          %p WINDOW TINT
    %li
      .callboxes
        = image_tag('tint1.jpg', style: 'width: 100%;')
        .services-name-box
          %p Clear Bra
    %li
      .callboxes
        = image_tag('invisible_bra.jpg', style: 'width: 100%;')
        .services-name-box
          %p Opti Coat Pro
    %li
      .callboxes
        = image_tag('invisible_bra.jpg', style: 'width: 100%;')
        .services-name-box
          %p HID Installation
.clear
%br
%br
.seperator-section 
  .container
    .seperator-section-container{style: 'width: 60%; margin: 0 auto; position: relative; top: 50px;'}
      %h2 WE DEAL IN LARGE NUMBER OF VEHICLES
      %p 
        Phasellus imperdiet libero sit amet ante. Donec convallis elementum leo. Cum Vivamuslobo rtis consequat purus. Curabitur commodo. Eltiam sed nulla. Lorem ipsum dolor sit met conse clt etuer adipiscing elit Nulla libero.

%br
%br
.about-us-home-section
  .container
    .section-header-container
      %h2 ABOUT RHINO 
    %br
    .left-section
      %ul
        %li 
          .about-list
            .icon-container
              %i.fa.fa-key
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
        %li 
          .about-list
            .icon-container
              %i.fa.fa-dashboard
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
        %li 
          .about-list
            .icon-container
              %i.fa.fa-bolt
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
        %li 
          .about-list
            .icon-container
              %i.fa.fa-heart
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
    .right-section
      = image_tag('1.jpg')
    .clear

