#banner-container
  = image_tag('car.jpg')
.container
  .banner-contents-container
    %h1 SUPER CARS DEALERS
    %p
      Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.
    .banner-button
      Learn more 
%br
%br
%br
%br
.container
  .section-header-container
    %h2 FEATURED SERVICES
%br
%br
.callboxes-list
  %ul
    %li
      .callboxes
        .callboxes-overlay
          .container
            100% Handwash. In a hurry? Our express washes are developed to prevent random swirls and scratches. No Machines
            %br
            %br
            %i.fa.fa-dollar
            129.00
            .more-button
              more
        = image_tag('tint1.jpg', style: 'width: 100%;')
        .services-name-box
          %p Detailing
    %li
      .callboxes
        .callboxes-overlay
          .container
            Protect your investment from the sun with one of our premium window tint packages. We have over ten years of experience in window tinting and the trusted RHINO Icon!
            %br
            %br
            %i.fa.fa-dollar
            129.00
            .more-button
              more
        = image_tag('tint1.jpg', style: 'width: 100%;')
        .services-name-box
          %p Window Tint
    %li
      .callboxes
        .callboxes-overlay
          .container
            Clear bra fits your vehicles exterior like skin, protecting your high quality paint with UV inhibitors that help maintain color. (Call for detailed pricing)
            %br
            %br
            %i.fa.fa-dollar
            129.00
            .more-button
              more
        = image_tag('tint1.jpg', style: 'width: 100%;')
        .services-name-box
          %p Clear Bra
    %li
      .callboxes
        .callboxes-overlay
          .container
            Protect your investment from the sun with one of our premium window tint packages. We have over ten years of experience in window tinting and the trusted RHINO Icon!
            %br
            %br
            %i.fa.fa-dollar
            129.00
            .more-button
              more
        = image_tag('invisible_bra.jpg', style: 'width: 100%;')
        .services-name-box
          %p Opti Coat Pro
    %li
      .callboxes
        .callboxes-overlay
          .container
            Protect your investment from the sun with one of our premium window tint packages. We have over ten years of experience in window tinting and the trusted RHINO Icon!
            %br
            %br
            %i.fa.fa-dollar
            129.00
            .more-button
              more
        = image_tag('invisible_bra.jpg', style: 'width: 100%;')
        .services-name-box
          %p HID Installation
.clear
%br
%br
.seperator-section 
  .container
    .seperator-section-container{style: 'width: 60%; margin: 0 auto; position: relative; top: 50px;'}
      %h2 WE DEAL IN LARGE NUMBER OF VEHICLES
      %p 
        Phasellus imperdiet libero sit amet ante. Donec convallis elementum leo. Cum Vivamuslobo rtis consequat purus. Curabitur commodo. Eltiam sed nulla. Lorem ipsum dolor sit met conse clt etuer adipiscing elit Nulla libero.

%br
%br
.about-us-home-section
  .container
    .section-header-container
      %h2 ABOUT RHINO 
    %br
    .left-section
      %ul
        %li 
          .about-list
            .icon-container
              %i.fa.fa-key
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
        %li 
          .about-list
            .icon-container
              %i.fa.fa-dashboard
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
        %li 
          .about-list
            .icon-container
              %i.fa.fa-bolt
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
        %li 
          .about-list
            .icon-container
              %i.fa.fa-heart
            .content-container
              %h3 WE ARE A TRUSTED NAME
              %p
                Cum sociis natoque penatibus et magnis dis parturient mo ntes, nascetur ridiculus mus. Quisque vel ante quis
            .clear
    .right-section
      = image_tag('1.jpg')
    .clear

