#banner-container
  = image_tag('car.jpg')
.container
  .banner-contents-container
    %h1 SUPER CARS DEALERS
    %p
      Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.  Lorem ipsum dolor sitta ipsum dolor sitta.
    .banner-button
      Learn more 
%br
%br
%br
%br
.container
  .section-header-container
    %h2 FEATURED SERVICES
  %br
  %br
  .callboxes-list
    %ul
      %li
        .callboxes
          %h3 WINDOW TINT
          = image_tag('tint1.jpg', style: 'width: 100%;')
          %p Protect your investment from the sun with one of our premium window tint packages. We have over...
      %li
        .callboxes
          %h3 INVISIBLE BRA
          = image_tag('invisible_bra.jpg', style: 'width: 100%;')
          %p Protect your investment from the sun with one of our premium window tint packages. We have over ten....
      %li
        .callboxes
          %h3 WINDOW TINT
          = image_tag('tint1.jpg', style: 'width: 100%;')
          %p Protect your investment from the sun with one of our premium window tint packages. We have over....
      %li
        .callboxes
          %h3 WINDOW TINT
          = image_tag('invisible_bra.jpg', style: 'width: 100%;')
          %p Protect your investment from the sun with one of our premium window tint packages. We have over....
  .clear
%br
%br
.seperator-section 
  .container
    .seperator-section-container{style: 'width: 60%; margin: 0 auto; position: relative; top: 50px;'}
      %h2 WE DEAL IN LARGE NUMBER OF VEHICLES
      %p 
        Phasellus imperdiet libero sit amet ante. Donec convallis elementum leo. Cum Vivamuslobo rtis consequat purus. Curabitur commodo. Eltiam sed nulla. Lorem ipsum dolor sit met conse clt etuer adipiscing elit Nulla libero.

%br
%br
.about-us-home-section
  .container
    .section-header-container
      %h2 ABOUT US

